
    <%=@reply.message%>



  <!--table width="100%">
  <tbody>
    <tr>
      <td class="tdlabel">
          メッセージ
      </td>
    </tr>
    <tr>
      <td class="td2">
        <p>@reply.message</p>
      </td>
    </tr>
  </tbody>
</table
-->
