<div id="contents"><img src="/assets/logo.png" width="820" height="281" alt="" />
  <!--サブメニュー-->
  <div id="sidebar">
    <div id="side_txbox">
      <p>ユーザーログイン</p>
      <form id="form1" name="form1" method="post" action="">
        <p>ユーザー名：<input name="user_id" type="text" id="user_id" size="10" /></p>
        <p>パスワード：<input name="psd" type="password" size="10" /></p>
        <p>
          <input name="user_sbmt" type="submit" value="ロクイン" />
          <input name="usr_rset" type="reset" value="リセット" />
          <input type="button" name="usr_apy" id="usr_apy" value="ユーザー登録" />
        </p>
      </form>
    </div>

    <!---
       <div id="submenu">
       <h2>SUBMENU(h2)</h2>
       <ul>
         <li><a href="#">submenu</a></li>
         <li><a href="#">submenu</a></li>
         <li><a href="#">submenu</a></li>
         <li><a href="#">submenu</a></li>
         <li><a href="#">submenu</a></li>
         <li><a href="#">submenu</a></li>
         </ul>
     </div>
     <div id="side_txbox">
     <p>User Information</p>
     <p>name:</p>
     <p>icon</p>
     <p>Logout</p>
     <p>Information Edit <br />
     </p>
     </div>
 -->  </div>

  <!--メイン-->
  <div id="main">
    <h2>最新登録</h2>
    <div class="main_box">
      <p>こちらの<a href="http://bluegreen.jp/template/licence/">ライセンスお申込みフォーム</a>よりお問い合わせください。<br />
      </p>
    </div>

    <h2>貸すList</h2>
    <div class="main_box">
      <p><img src="/assets/icon_01.gif" alt="" width="13" height="13" class="img" />この上のバー↑は&lt;h2＞タグでくくると、背景画像が入ります。<br />※ &lt;h2&gt;タイトル&lt;/h2&gt;のように書きます。    </p>
      <hr size="1" />
      <p><img src="/assets/icon_01.gif" alt="" width="13" height="13" class="img" />テンプレートの編集方法については、サポート外となりますのでお問い合わせいただいてもお答えできません。申し訳ございませんがご了承ください。    </p>
      <hr />
      <p><img src="/assets/icon_01.gif" alt="" width="13" height="13" class="img" />サブページについては、「about」フォルダの中に、サブページの見本がありますのでそちらを参考にしてください。</p>
      <hr />
    </div>

    <h3>求めるList</h3>
      <div class="main_box2"> <img src="/assets/icon_01.gif" alt="" width="13" height="13" class="img" /><span class="fc02">2010/1/1</span><br />
        ホームページリニューアルしました。
        <hr size="1" />
        <img src="/assets/icon_01.gif" alt="" width="13" height="13" class="img" /><span class="fc02">2010/1/1
        </span><br />
        ホームページリニューアルしました。
        <hr size="1" />
        <img src="/assets/icon_01.gif" alt="" width="13" height="13" class="img" /><span class="fc02">2010/1/1</span><br />
        ホームページリニューアルしました。
        <hr size="1" />
      </div>
  </div> <!--メイン-->

  <!--pagetop-->
  <%= render 'shared/pagetop' %>
</div> <!--contents-->
