<h1>パスワードのリセット</h1>

<p>パスワードをリセットするには下記のリンクをクリックして下さい。:</p>

<%= link_to "Reset password", edit_password_reset_url(@member.reset_token, email: @member.email) %>
<p>このリンクは２時間有効です。</p>

<p>
もし、パスワードのリセットを実施していないでしたらこのメールを無視して下さい。
</p>
