<ul id="globalNavi">
  <li><a href="/">HOME</a></li>
  <li><a href="/about.html">利用方法</a></li>
  <li><a href="/loan_items">貸す</a></li>
  <li><a href="/borrows">借りる</a></li>
  <li><a href="/borrow_items">探し物</a></li>
  <li><a href="#">有効利用</a></li>
  <li><a href="#">BBQ</a></li>
  <li><a href="#">広告</a></li>
</ul>
