<% if logged_in? %>
    <li><%= current_member.user_name %>さん</li>
        <%= link_to "ユーザー編集", edit_member_path(current_member) %><br>
        <%= link_to "ログアウト", logout_path, method: "delete" %>
  <% else %>
    <%= link_to "ログイン", login_path %>
<% end %>
