<div id="sidebar">
  <div id="submenu">
    <h2>貸す</h2>
    <ul>
      <li><%= link_to "アイテム登録", new_loan_item_path %></li>
      <li><%= link_to "アイテム一覧", loan_items_path %></li>
      <li><%= link_to "受信リクエスト", "#" %></li>
    </ul>
  </div>
</div>
