// Place all the styles related to the Borrows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//borrow.css
@font-face {
  font-family: 'fontawesome';
  src:url('/assets/fontawesome/fontawesome.eot');
  src:url('/assets/fontawesome/fontawesome.eot?#iefix') format('embedded-opentype'),
  url('/assets/fontawesome/fontawesome.woff') format('woff'),
  url('/assets/fontawesome/fontawesome.ttf') format('truetype'),
  url('/assets/fontawesome/fontawesome.svg#fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

ul.each-item{
  list-style-type: none;
  }

div.each-item{
  margin: 0 0 10px -30px;
  width: 100%;
  border-bottom: 1px dashed gray;
  }

.item-pic {
  display: block;
  float: left;
  width: 150px;
  height: 150px;
  padding: 0;
  margin-right: 10px;

  img {
    width:100px;
    height:90px;
    padding:0;
  }
}

.item-title{
  display: inline;
  font-size: 20px;
}

h3{
  font-size: 16px;
}

.item-ctlg{
  display: inline;
  float:right;
  margin: 5px 15px;
  padding: 0;
  //white-space: normal;
  }

.item-place{
  display: block;
  margin-right: 0;
  font-size: 14px;
}

.item-price{
  display: inline;
  font-size: 18px;
  color: #80A24A;
}
.item-update{
  display: block;
  margin: 10px 80px 10px 0;
  white-space: normal;
  }

.item-stus {
  display: inline;
  float:right;
  clear:right;
  padding: 10px 15px;
  border-radius: 2px;
  color: #fff;
  background: #9dc45f;
  transition: background 0.2s;

  &:hover {
    color: #fff;
    background: #80A24A;
  }
}
.item-stus:before {
    margin-right: 5px;
  }

.stus-icon:before {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.stus-icon:before {
  content: "\f055";
}


.function{
  display:inline;
  float:right;
  margin-right: 15px;
  margin-bottom: 10px;
}

//borrow.css end
//
//
//
//
//showitem.css

#show-itm-pic{
  display:block;
  max-width:600px;
  max-height: 480px;
  padding:auto;
  margin:15px auto;
//  border: 1px solid #9CE5A1;
}

//the picture almost with the <a href> tag, edit later
#show-itm-pic img{
  max-width: 96%;
  margin: 10px 20px 50px 10px;
  vertical-align: middle;
  text-align: center;
}

#show-itm-tle{
  display: inline-table;
  width: 65%;
  padding: 7px;
  border-bottom: 2px dotted #6e7955;
  border-left: 10px solid #6e7955;
  font-size: 18px;
}

ul#show-item{
  list-style-image: url(/assets/icon_01.gif);

  li{
    color:#669900;
  }
}

.show-itm-stus{
  display: inline;
  padding: 10px 20px;
  margin-top: 30px;
  margin-right: 30px;
  border-radius: 2px;
  color: #fff;
  background: #9dc45f;
}

.show-itm-stus:before {
  margin-right: 5px;
}

.show-p{
  margin-left: 50px;
  line-height: 5px;
}

//show.css end
//------------------------------
//index-list.css

.ind-lst-div{
  margin: 10px 0 30px -30px;
  width: 100%;
  height: 115px;
  border-bottom: 1px dashed gray;
  padding-bottom: 5px;
}

.ind-lst-pic{
  display: block;
  float: left;
  width: 120px;
  height: 150px;
  padding: 0;
  margin: 0;
  clear:left;

  img {
    width:100px;
    height:90px;
    padding:0;
    border: 1px solid black;
  }
  img:hover{
    border: 1px solid black;
  }

}
.ind-lst-title{
  display: inline;
  font-size:20px;
  width:200px;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 25px;
}

.ind-lst-price{
  display: inline;
  font-size: 20px;
  color: #80A24A;
  margin-bottom: 20px;
}

.ind-lst-lctn{
  display: block;
  margin: 10px 0;
  font-size: 16px;
}

.ind-lst-lnk {
  display: inline;
  float:right;
  clear:right;
  padding: 10px 15px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 2px;
  color: #fff;
  background: #9dc45f;
  transition: background 0.2s;

  &:hover {
    color: #fff;
    background: #80A24A;
  }
}
.ind-lst-lnk:before {
  margin-right: 5px;
}

.stus-icon:before {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.stus-icon:before {
  content: "\f055";
}

ul#show-lst{
  list-style-image: url(/assets/icon_01.gif);

  li{
    color:#5E5E5E;
    border-bottom: 1px dashed dimgray;
  }
}
//index-list.css end

/*
.messagenew{
    width:75%;
    float: right;
    margin-right:5px;

    .td1{
      text-align:center;
      background-color:#eee;
      height:30px;
      border:1px silver solid;
      padding:0;
      margin:0;
    }
    .td2{
      padding:0;
      margin:0;
      border:1px silver solid;
    }
  }




*/
//
