// Place all the styles related to the Borrows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//default.css
/* General Blueprint Style */
/*borrow*/



//default.css end

/* .loanitem{
    padding:6px;margin-top:0px;
    .tb1{width:70%;}
    .tb1 td{border-bottom:1px solid #C2D5E3;padding:5px 0;}
    .tb1 .f1{color:#999999;}
    .tb1 .td1{width:15%;height:100px;}
    .tb1 .td1 img{width:120px;height:100px;}
    .tb1 .td2{line-height:22px;}
    .td2{width:45%;}
    .tb1 .td2 .p1 a{font-size:15px;}
    .td3{width:20%;text-align:right;}
    .tb1 .td4{width:20%;text-align:right;font-size:14px;font-weight:700;}
    .tb1 .td4 span{color:#ff0000;}
    .p1{display:block;height:23px;width:250px;overflow:hidden;margin-top: 5px;margin-bottom: 5px;}
    .p2{display:block;height:20px;width:250px;overflow:hidden;margin-top: 1px;margin-bottom: 1px}
    .p3{display:block;height:20px;width:250px;overflow:hidden;margin-top: 1px;margin-bottom: 1px}
    .p4{display:block;height:20px;width:250px;overflow:hidden;margin-top: 1px;margin-bottom: 1px}
    .p5{display:block;height:20px;width:250px;overflow:hidden;margin-top: 1px;margin-bottom: 1px}
}
.sendrequest{
    padding:6px;margin-top:0px;
    .tb1{width:70%;}
    .tb1 td{border-bottom:1px solid #C2D5E3;padding:5px 0;}
    .tb1 .f1{color:#999999;}
    .tb1 .td1{width:60%;height:100px;padding: 5px;}
    .tb1 .td2{line-height:22px;}
    .td2{width:20%;}
    .tb1 .td2 .p1 a{font-size:15px;}
    .td3{width:20%;text-align:right;}
    .p1{display:block;height:23px;width:250px;overflow:hidden;margin-top: 5px;margin-bottom: 5px;}
    .p2{display:block;height:20px;width:250px;overflow:hidden;margin-top: 1px;margin-bottom: 1px}
    .p3{display:block;height:20px;width:250px;overflow:hidden;margin-top: 1px;margin-bottom: 1px}
    .p4{display:block;height:20px;width:250px;overflow:hidden;margin-top: 1px;margin-bottom: 1px}
}
.loanitemshow{
    padding-top:20px;
    .itemdetail{
        width:75%;
        border-color:red;
        padding-left:10px;
        td{
            padding-left:5px;
            border: 2px silver solid;
        }
    }
    .tr1{
        height:30px;
    }
    .tr2{
        height:50px;
    }
    .tr3{
        height:100px;
    }
    .tdlabel{
        width:20%;
        background-color:silver;
    }
    .tdcontent1{
        width:30%;
    }
    .tdcontent2{
    }
}
*/
.messagenew{
  width:75%;
  float: right;
  margin-right:5px;

  .td1{
    text-align:center;
    background-color:#eee;
    height:30px;
    border:1px silver solid;
    padding:0px;
    margin:0px;
  }
  .td2{
    padding:0px;
    margin:0px;
    border:1px silver solid;
  }
}


//
//
//component.css


@font-face {
  font-family: 'fontawesome';
  src:url('assets/fontawesome/fontawesome.eot');
  src:url('assets/fontawesome/fontawesome.eot?#iefix') format('embedded-opentype'),
  url('assets/fontawesome/fontawesome.woff') format('woff'),
  url('assets/fontawesome/fontawesome.ttf') format('truetype'),
  url('assets/fontawesome/fontawesome.svg#fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Main container */
.cbp-vm-switcher {
  padding: 20px;
  //border: 3px solid #9dc45f;
}

/* options/select wrapper with switch anchors */
.cbp-vm-options {
  text-align: right;
  padding-bottom: 10px;
  border-bottom: 3px solid #9dc45f;
}

.cbp-vm-options a {
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  color: #d0d0d0;
  margin: 2px;
}

.cbp-vm-options a:hover,
.cbp-vm-options a.cbp-vm-selected {
  color: #9dc45f;
}

.cbp-vm-options a:before {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  text-align: center;
  display: inline-block;
}

/* General style of switch items' list */

.cbp-vm-switcher ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Clear eventual floats */
.cbp-vm-switcher ul:before,
.cbp-vm-switcher ul:after {
  content: " ";
  display: table;
}

.cbp-vm-switcher ul:after {
  clear: both;
}

.cbp-vm-switcher ul li {
  display: block;
  position: relative;
}

.cbp-vm-image {
  display: block;
  margin: 0 auto;
}

.cbp-vm-image img {
  display: inline-block;
  max-width: 100%;
  border: none;
}

.cbp-vm-title {
  margin: 0;
  padding: 0;
}

.cbp-vm-price {
  color: #c0c0c0;
}

.cbp-vm-add {
  color: #fff;
  background: #9dc45f;
  padding: 10px 20px;
  border-radius: 2px;
  margin: 20px 0 0;
  display: inline-block;
  transition: background 0.2s;
}

.cbp-vm-add:hover {
  color: #fff;
  background: #80A24A;
}

.cbp-vm-add:before {
  margin-right: 5px;
}

/* Common icon styles */
.cbp-vm-icon:before {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.cbp-vm-grid:before {
  content: "\f00a";
}

.cbp-vm-list:before {
  content: "\f00b";
}

.cbp-vm-add:before {
  content: "\f055";
}

/* Individual view mode styles */

/* Large grid view */
.cbp-vm-view-grid ul {
  text-align: auto;
}

.cbp-vm-view-grid ul li {
  width: 30%;
  text-align: center;
  padding: 10px; //25px;
  margin: 20px 0 0;
  display: inline-block;
  min-height: 200px;
  vertical-align: top;
}

.cbp-vm-view-grid .cbp-vm-title {
  font-size: 1.75em;
}

.cbp-vm-view-grid .cbp-vm-details {
  max-width: 200px;
  min-height: 70px;
  margin: 0 auto;
}

.cbp-vm-view-grid .cbp-vm-price {
  margin: 10px 0;
  font-size: 1.5em;
}


/* List view */
.cbp-vm-view-list li {
  padding: 20px 0;
  white-space: nowrap;
}

.cbp-vm-view-list .cbp-vm-image,
.cbp-vm-view-list .cbp-vm-title,
.cbp-vm-view-list .cbp-vm-details,
.cbp-vm-view-list .cbp-vm-price,
.cbp-vm-view-list .cbp-vm-add {
  display: inline-block;
  vertical-align: middle;
}

.cbp-vm-view-list .cbp-vm-image {
  width: 15%;
}

.cbp-vm-view-list .cbp-vm-title {
  font-size: 1.3em;
  padding: 0 10px;
  white-space: normal;
  width: 15%;
}

.cbp-vm-view-list .cbp-vm-price {
  font-size: 1.3em;
  width: 10%;
}

.cbp-vm-view-list .cbp-vm-details {
  width: 30%;
  padding: 0 15px;
  overflow: hidden;
  white-space: normal;
}

.cbp-vm-view-list .cbp-vm-add {
  margin: 0;
}

@media screen and (max-width: 66.7em) {
  .cbp-vm-view-list .cbp-vm-details  {
    width: 30%;
  }
}

@media screen and (max-width: 57em) {
  .cbp-vm-view-grid ul li {
    width: 49%;
  }
}

@media screen and (max-width: 47.375em) {
  .cbp-vm-view-list .cbp-vm-image {
    width: 20%;
  }

  .cbp-vm-view-list .cbp-vm-title {
    width: auto;
  }

  .cbp-vm-view-list .cbp-vm-details  {
    display: block;
    width: 100%;
    margin: 10px 0;
  }

  .cbp-vm-view-list .cbp-vm-add  {
    margin: 10px;
  }
}

@media screen and (max-width: 40.125em) {
  .cbp-vm-view-grid ul li {
    width: 100%;
  }
}

