// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//@import "bootstrap-sprockets";
//@import "bootstrap";

.smart-green {
  //margin-left: auto;
  //margin-right: auto;
  margin: -20px 90px 50px 30px;
  width: 600px;
  background: #F8F8F8;
  padding: 20px 0 20px 30px;
  //padding: 20px 30px 20px 30px;
  font: 12px Arial, Helvetica, sans-serif;
  color: #666;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;

  p{
    color: #009900;
    font-weight: bold;
  }

  th{
    width: 30%;
  }

  input[type="text"], input[type="email"], input[type="password"], textarea, select {
    color: #555;
    height: 30px;
    line-height: 15px;
    width: 80%;
    padding: 0 0;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
  }
  textarea {
    height: 100px;
    padding-top: 10px;
  }
  select {
    background: url('/assets/down-arrow1.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('/assets/down-arrow1.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FBFBFB), color-stop(100%, #E9E9E9));
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 80%;
    height: 30px;
  }
}
.h1 {
  font: 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 20px 0 20px 30px;
  display: block;
  margin: -20px 190px 0px 30px;
  color: #FFF;
  background-color: #9dc45f;
  text-shadow: 1px 1px 1px #949494;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #89AF4C;

  span {
    display: block;
    font-size: 15px;
    color: #FFF;
  }
  label {
    display: block;
    margin: 0 0 5px;
  }
  label > span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
  }
}

.button {
  background-color: #9DC45F;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-border-radius: 5px;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #FFF;
  text-shadow: 1px 1px 1px #949494;

  &:hover {
    background-color: #80A24A;
  }
}

/* Members index */

.members {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid;
  }
}

//login.css

h2.heading {
  padding-bottom: 3px;
  margin: 20px;
  font-size: 18px;
  width: 80%;
  text-transform: uppercase;
  font-weight: 300;
  text-align: left;
  color: #506982;
  border-bottom: 1px solid #506982;
}
.heading-span {
  display: block;
  float: right;
  padding-right: 28%;
  padding-top: 0;
  margin-top: -10px;
  }

.login-main{
  margin:20px;
  //padding:20px;
}

.controls {
  //padding: 20px;
  margin:20px 0 -20px 20px;
  text-align: left;
  position: relative;
}

.controls input[type="text"],
.controls input[type="email"],
.controls input[type="password"],
.controls textarea,
.controls a {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #c6c6c6;
  width: 70%;
  margin-bottom: 18px;
  color: #888;
  font-family: 'Lato', 'sans-serif';
  //font-size: 16px;
  font-weight: 300;
  background-color: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.controls select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #c6c6c6;
  width: 73%;
  margin-bottom: 18px;
  color: #888;
  font-family: 'Lato', 'sans-serif';
  //font-size: 16px;
  font-weight: 300;
  background-color: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.controls input[type="text"]:focus,
.controls input[type="text"]:hover,
.controls input[type="email"]:focus,
.controls input[type="email"]:hover,
.controls input[type="password"]:focus,
.controls input[type="password"]:hover,
.controls textarea:focus,
.controls textarea:hover,
.controls a:hover,
.controls select:focus,
.controls select:hover {
  outline: none;
  border-color: #9DC45F;
}

.controls input[type="text"]:focus + label,
.controls input[type="text"]:hover + label,
.controls input[type="email"]:focus + label,
.controls input[type="email"]:hover + label,
.controls input[type="password"]:focus + label,
.controls input[type="password"]:hover + label,
.controls textarea:focus + label,
.controls textarea:hover + label,
.controls a:focus,
.controls a:hover + label,
.controls select:focus + label,
.controls select:hover + label {
  color: #80A24A;
  cursor: text;
  background-color: white;
}

//--------------
.controls .fa-sort {
  position: absolute;
  right: 10px;
  top: 17px;
  color: #999;
}

.controls select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.controls label {
  position: absolute;
  left: 8px;
  top: 8px;
  color: #999;
  font-size: 14px;
  display: inline-block;
  padding: 4px 10px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0);
  pointer-events: none;
  -moz-transition: color 0.3s, top 0.3s, background-color 0.8s;
  -o-transition: color 0.3s, top 0.3s, background-color 0.8s;
  -webkit-transition: color 0.3s, top 0.3s, background-color 0.8s;
  transition: color 0.3s, top 0.3s, background-color 0.8s;
}

//----------------

.controls label.active {
  top: -14px;
  color: #555;
  background-color: white;
}

.controls textarea {
  resize: none;
  height: 200px;
}
