<% provide(:title, 'ユーザー登録') %>
<h1>ユーザー登録</h1>
<% if flash.notice %>
  <p class="notice"><%= flash.notice %></p>
<% end%>

<!-- <p class="alert"><%= flash.alert %> -->
<% if flash.alert %>
  <p class="alert"><%= flash.alert %></p>
<% end%>
<div class="row">
  <div class="field">
  <%= render 'shared/new_user' %>
  </div>
</div>
