<% provide(:title, 'ユーザー登録') %>
<br/>
<br/>
<h1 class="h1">ユーザー登録
  <span class="h1">Please fill all the texts in the fields.</span></h1>
<p class="notice"><%= flash.notice %>
<p class="alert"><%= flash.alert %>
<div class="row">
  <div class="field">
  <%= render 'shared/new_user' %>
  </div>
</div>
