<% provide(:title, 'ユーザー登録') %>
<br/>
<br/>
<h1 class="h1">ユーザー登録
  <span class="h1">Please fill all the texts in the fields.</span></h1>
<% if flash.notice %>
  <div class="tn-box tn-box-color">
    <p id="p-tn-box"><%= flash.notice %></p>
  </div>
  <br/>
<% end%>

<!-- <p class="alert"><%= flash.alert %> -->
<% if flash.alert %>
  <p class="alert"><%= flash.alert %></p>
<% end%>
<div class="row">
  <div class="field">
  <%= render 'shared/new_user' %>
  </div>
</div>
