<% provide(:title, @member.user_name) %>
<p class="notice"><%= flash.notice %>
<p class="alert"><%= flash.alert %>
<div class="row">
  <aside class="col-md-4">
    <section class="member_info">
     <h1>
       <%= gravatar_for @member %>
       <%= @member.user_name %>
     </h1>
    </section>
    </aside>
</div>
